In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
server = 'DESKTOP-U2JV8HI\\SQLEXPRESS'  # Note the double backslash for escaping
database = 'cryptoUpdated'

# Construct the connection string
connection_string = f'DRIVER=SQL Server;SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Create a SQLAlchemy engine using the connection string
engine = create_engine(f'mssql+pyodbc:///?odbc_connect={connection_string}')

In [13]:
# SQL query to fetch data
query = "SELECT * FROM cryptoUpdated.dbo.currencies;"

# Use SQLAlchemy to execute the query and load data into a DataFrame
curr = pd.read_sql(query, engine)

In [14]:
curr.head()

   code         name capitalisation  cap_order
0   ADA      cardano           High          1
1  ALGO     algorand         Medium          2
2   APE      apecoin         Medium          2
3  ATOM       cosmos         Medium          2
4   AVL  avalanche-2         Medium          2

In [15]:
# SQL query to fetch data
query = "SELECT * FROM cryptoUpdated.dbo.dateRange;"

# Use SQLAlchemy to execute the query and load data into a DataFrame
date = pd.read_sql(query, engine)

In [16]:
date.head()

                          date
0  2015-01-01 00:00:00.0000000
1  2015-01-02 00:00:00.0000000
2  2015-01-03 00:00:00.0000000
3  2015-01-04 00:00:00.0000000
4  2015-01-05 00:00:00.0000000

In [17]:
# SQL query to fetch data
query = "SELECT * FROM cryptoUpdated.dbo.marketPrices;"

# Use SQLAlchemy to execute the query and load data into a DataFrame
market = pd.read_sql(query, engine)

In [18]:
market.head()

                          date currency     price  total_volume    market_cap
0  2015-01-01 00:00:00.0000000     DOGE  0.000183  2.838455e+05  1.780332e+07
1  2015-01-01 00:00:00.0000000      XLM  0.005498  8.877137e+03  1.955719e+07
2  2015-01-01 00:00:00.0000000      XRP  0.024376  4.332450e+05  7.551215e+08
3  2015-01-01 00:00:00.0000000      XMR  0.466182  2.589714e+04  2.563381e+06
4  2015-01-01 00:00:00.0000000      LTC  2.713621  1.382349e+06  9.559802e+07

In [30]:
btc = market[market['currency'] == 'BTC'][['date','price']]
eth = market[market['currency'] == 'ETH'][['date','price']]

In [39]:
both = eth.merge(btc, how='inner', on='date', suffixes=('_eth', '_btc'))

In [41]:
both[['price_eth','price_btc']].corr()

           price_eth  price_btc
price_eth   1.000000   0.939234
price_btc   0.939234   1.000000

In [29]:
# market[['btc', 'eth']].corr()